<ion-tabs>
  <ion-tab [root]="homePage" tabIcon="home" tabTitle="Home"></ion-tab>
  <ion-tab [root]="localWeatherPage" tabIcon="umbrella" tabTitle="LocalWeather"></ion-tab>
  <ion-tab [root]="offersPage" tabIcon="cube" tabTitle="Offers"></ion-tab>
</ion-tabs>