<ion-header>
  <ion-navbar text-center>
    <ion-title>Athlone
      <!-- <div *ngFor="let item of app_info;" text-center>
          {{item.site_info.title}}
      </div> -->
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- The world is your akash. -->
  <!-- <div *ngFor="let item of app_info;" text-center> -->
  <div text-center>
          <ion-card>
            <!-- <img src="{{item.site_info.banner}}"/> -->
            <img src="https://s3-eu-west-1.amazonaws.com/townapps2017/images/townapps-images2.jpg"/>
            <!-- <ion-card-content>
              <ion-card-title>
                Nine Inch Nails Live
                </ion-card-title>
              <p>
                The most popular industrial group ever, and largely
                responsible for bringing the music to a mass audience.
              </p>
            </ion-card-content> -->
          </ion-card>
  </div>
  
 <!-- <ion-list>
      <button ion-item *ngFor="let item of items" > {{item.pois.clildren.category}} </button>  
    </ion-list> -->

   <!-- <li *ngFor="let item of pois;">
          
          {{item.category}} 
  </li>      -->
  <ion-list>
      <!-- <button ion-item *ngFor="let item of pois">  {{item.category}}  </button>   -->
      <ion-item *ngFor="let item of pois; let i = index" (click)="onLoadBusinessListing(i)">
        <ion-avatar item-start>
            <img src="https://s3-eu-west-1.amazonaws.com/townapps2017/images/7yMC6F7k.jpg"> 
        </ion-avatar>
        <h2>{{item.name}}</h2>
      </ion-item>
  </ion-list>

    

</ion-content>