<!--
  Generated template for the OffersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar text-center>
    <ion-title>Offers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
