<ion-header>

  <ion-navbar>
    <ion-title>Business Listings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-list>
    <button
      ion-item
      *ngFor="let business of Blistings">
      <h2>{{ business.name }}</h2>
      <ion-note>{{ business.description }}</ion-note>
    </button>
  </ion-list> -->
  <div *ngFor="let business of Blistings" text-center>
      <ion-card>
        <!-- <img src="{{item.site_info.banner}}"/> -->
        <img src="http://via.placeholder.com/350x150"/>
        <ion-card-content>
          <ion-card-title>
            {{ business.name }}
            </ion-card-title>
          <p>
            {{ business.description }}
          </p>
        </ion-card-content>
      </ion-card>
</div>
</ion-content>
